// color variables 
$color-bg: #1E2022;
$color-bg-variant: #52616B;
$color-primary: #C9D6DF;
$color-primary-variant: #F0F5F9;
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.6);

// container width variables
$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;

$transition: all 400ms ease;