.portfolio {

    &__container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2.5rem;
    }

    &__item {
        background: $color-bg-variant;
        padding: 1.2rem;
        border-radius: 2rem;
        border: 1px solid transparent;
        transition: $transition;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
            border-color: $color-primary-variant;
            background: transparent;
        }

        &-image {
            border-radius: 1.5rem;
            overflow: hidden;
            height: 250px;

            img {
                height: 100%;
                width: 100%;
            }
        }

        h3 {
            margin: 1.2rem 0 2rem;
            width: max-content;
        }

        &-cta {
            margin-bottom: 1rem;
        }
    }

    &__btn {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .portfolio {
        &__container {
            grid-template-columns: 1fr 1fr;
            gap: 1.2rem;
        }
    }
}

@media screen and (max-width: 600px) {
    .portfolio {
        &__container {
            grid-template-columns: 1fr;
            gap: 1rem;
        }
    }
}